.content {
  width: 100%;

  &__item-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: start;

    margin: 0 auto;
    max-width: 1200px;
  }

  &__block{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    &_color-theme{
      background-color: var(--color-main);
    }
  }
}
