.sub-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  height: 104px;
  background-color: var(--color-main);

  &__search {
    position: absolute;
    left: 0;
  }
}